<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Great Job!
    <form> 
        <div>
            <label>Title</label>
            <div class="input-group">
                <input type="Title"  name="Title" minlength="6">
            </div>
        </div>

        <div>
            <label>Text</label>
            <div class="input-group">
                <input type="Text"  name="Text" maxlength="280">
            </div>
            <div>
                <button formaction="/all_tweet">go to all tweets</button> 
                <input type="submit" src = "all_tweet">
            </div>
        </div>
    </form>
</body>
</html>